@import "./src/assets/colors";

.container {
    display: 1;
    height: 100%;
    flex-direction: column;
    background-color: $Extra-light;
    overflow: scroll;
}

.darkContainer {
    flex: 1;
    background-color: $Secondary;
}

.mainInfo {
    flex: 1;
    padding-left: 293px;
    padding-right: 293px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 33px 0;
    border-top: 1px solid $Gray;
    margin-top: 152px;
    div {
        color: $Gray;
    }
}