@import "./src/assets/colors";

.container {
    max-width: 1120px;
                            margin: 100px auto;/// временный стиль
                            border-left: 0.1px solid rgba(255, 0, 0, 0.421);/// временный стиль
                            border-right: 0.1px solid rgba(255, 0, 0, 0.507); /// временный стиль
}

.navigation {
    display: flex;
    gap: 8px;
    margin-bottom: 32px;
}

.nav {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.nav:first-child {
    padding: 0 11px 0 0;
    color: $Secondary;
    border-right: 2px solid $Gray;
    cursor: pointer;
}

.nav:last-child {
    color: $Gray;
}


.wrapperImge {
    display: flex;
    justify-content: center;
    margin: 48px 0;
}
.imge {
    display: flex;
    width: 992px;
    height: 518px;
    object-fit: cover;
    object-position: 50% 50%;
}

.wrapperText {
    display: flex;
    justify-content: center;
}

.text {
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: $Secondary;
    max-width: 920px;
}

.buttons {
    max-width: 920px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-top: 48px;
}

.wrapperBtn {
    display: flex;
    gap: 6px;
}

.bookmark {
    display: flex;
    align-items: center;
    gap: 16px;
}

.border {
    margin-top: 72px;
    border-bottom: 1px solid $Medium;
    max-width: 1120px;
}